%div{'ng-controller' => 'UserListCtrl' }
  %ul
    %li{'ng-repeat' => 'u in users'}
      %div{'ng-init' => 'user=u[0]'}
        %p {{user.id}}
        %p {{user.first_name}}
        %p {{user.last_name}}
        %p {{user.email}}
        %p {{user.photo}}


%div{'ng-controller' => 'TalkListCtrl' }
  %ul
    %li{'ng-repeat' => 't in talks'}
      %div{'ng-init' => 'talk=t[0]'}
        %p {{talk.id}}
        %p {{talk.name}}
        %p {{talk.description}}
        %p {{talk.speaker_id}}
        %p {{talk.talk_date | date: '%d / %m / %y'}}

