.row
  .small-12.columns
    .panel{'ng-controller' => 'UserListCtrl' }
      %h1 List of users
      %ul
        %li{'ng-repeat' => 'u in users'}
          %div{'ng-init' => 'user=u[0]'}
            %p {{user.id}}
            %p {{user.first_name}}
            %p {{user.last_name}}
            %p {{user.email}}
            %p {{user.photo}}


%div{'ng-controller' => 'TalkListCtrl' }
  %table
    %tr{'ng-repeat' => 't in talks'}
      %div{'ng-init' => 'talk=t[0]'}
      %td {{talk.id}}
      %td {{talk.name}}
      %td {{talk.description}}
      %td {{talk.speaker_id}}
      %td {{talk.talk_date | date: '%d / %m / %y'}}

