.row
  .small-12.columns
    .panel.radius{'ng-controller' => 'UserListCtrl' }
      %h1 List of users
      %ul
        %li{'ng-repeat' => 'u in users'}
          %div{'ng-init' => 'user=u[0]'}
            %p {{user.id}}
            %p {{user.first_name}}
            %p {{user.last_name}}
            %p {{user.email}}
            %p {{user.photo}}

%div{'ng-controller' => 'TalkListCtrl' }
  %table
    %title Talks
    %tr
      %th
      %th Id
      %th Name
      %th Description
      %th speaker_id
      %th Date
    %tr{'ng-repeat' => 't in talks'}
      %td{'ng-init' => 'talk=t[0]'}
      %td {{talk.id}}
      %td {{talk.name}}
      %td {{talk.description}}
      %td {{talk.speaker_id}}
      %td {{talk.talk_date | date: '%d / %m / %y'}}
.row
  .small-12.columns
    .panel.radius
      %h1 List of Talks
      %div{'ng-controller' => 'TalkListCtrl' }
        %ul
          %li{'ng-repeat' => 't in talks'}
            %div{'ng-init' => 'talk=t[0]'}
              %p {{talk.id}}
              %p {{talk.name}}
              %p {{talk.description}}
              %p {{talk.speaker_id}}
              %p {{talk.talk_date | date: '%d / %m / %y'}}

