.row
  .small-12.columns
    .panel.radius{'ng-controller' => 'UserListCtrl' }
      %h1 List of users
      %ul
        %li{'ng-repeat' => 'u in users'}
          %div{'ng-init' => 'user=u[0]'}
            %p {{user.id}}
            %p {{user.first_name}}
            %p {{user.last_name}}
            %p {{user.email}}
            %p {{user.photo}}

.row
  .small-12.columns
    .panel.radius
      %h1 Listng Talks
      %div{'ng-controller' => 'TalkListCtrl' }
        %table
          %tr
            %th
            %th Id
            %th Name
            %th Description
            %th speaker_id
            %th Date
          %tr{'ng-repeat' => 't in talks'}
            %td{'ng-init' => 'talk=t[0]'}
            %td {{talk.id}}
            %td {{talk.name}}
            %td {{talk.description}}
            %td {{talk.speaker_id}}
            %td {{talk.talk_date | date: '%d / %m / %y'}}

.row
  .small-12.columns
    .panel.radius
      %h1 Listng Speakers
      %div{'ng-controller' => 'SpeakerListCtrl' }
        %table
          %tr
            %th
            %th Id
            %th First Name
            %th Last Name
            %th Description
            %th email
            %th Photo
          %tr{'ng-repeat' => 't in speakers'}
            %td{'ng-init' => 'speaker=t[0]'}
            %td {{speaker.id}}
            %td {{speaker.first_name}}
            %td {{speaker.last_name}}
            %td {{speaker.description}}
            %td {{speaker.email}}
            %td {{speaker.photo}}
